.counter-display {
    display: flex;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    background-color: #87dfc9;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 9rem;
    margin-bottom: 1rem;
}

.counter-display span {
    font-size: 1.8rem;
    color: #6eb3f3;
    font-weight: bold;
}

.btn-margin {
    margin-left: 3rem;
    margin-bottom: 1rem;
}

button {
    transform: 0.2s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #6eb3f3;
    color: white;
}

button:active {
    transform: scale(0.9);
}

.card-body {
    min-height: 200px !important;
    overflow-y: scroll;
    max-height: 200px;
}