<div class="header fade-in fixed-top d-flex align-items-center justify-content-center px-4 position-relative w-100">
  <h4 class="mb-0 text-center w-100">Welcome to Amar Sharma's Angular Dev Portal 🚀</h4>
  <div class="login-link position-absolute end-0 me-4">
    <a routerLink="/login" class="btn btn-outline-info btn-sm">Login</a>
  </div>
</div>

<div class="app-container">
  <nav class="sidebar" >


     <div class="section">
      <h4 (click)="toggleSection('toDoList')">
        Input Operations
        <span class="arrow">{{ sectionState.toDoList ? '▲' : '▼' }}</span>
      </h4>
      <div *ngIf="sectionState.toDoList" class="links">
        <a routerLink="/get-api-data">Get Api Data</a>
        <a routerLink="/to-do-list">To Do List</a>
        
      </div>
    </div>
    <div class="section">
      <h4 (click)="toggleSection('games')">
        Games / Tests
        <span class="arrow">{{ sectionState.games ? '▲' : '▼' }}</span>
      </h4>
      <div *ngIf="sectionState.games" class="links">
        <a routerLink="/counter-game">Counter Game</a>
        <a routerLink="/events-tests">Events Tests</a>
      </div>
    </div>

    <div class="section">
      <h4 (click)="toggleSection('basic')">
        Basic Features
        <span class="arrow">{{ sectionState.basic ? '▲' : '▼' }}</span>
      </h4>
      <div *ngIf="sectionState.basic" class="links">
        <a routerLink="/simple-calculation">Simple Calculation</a>
        <a routerLink="/two-way-binding">Two Way Binding</a>
      </div>
    </div>

    <div class="section">
      <h4 (click)="toggleSection('control')">
        Control Flow
        <span class="arrow">{{ sectionState.control ? '▲' : '▼' }}</span>
      </h4>
      <div *ngIf="sectionState.control" class="links">
        <a routerLink="/controlflow-else-if">Control Flow (if-else)</a>
        <a routerLink="/loop-in-template">Loop in Template</a>
        <a routerLink="/for-loop-contectual-variables">For Loop Contextual Variables</a>
      </div>
    </div>

    <div class="section">
      <h4 (click)="toggleSection('signals')">
        Signals
        <span class="arrow">{{ sectionState.signals ? '▲' : '▼' }}</span>
      </h4>
      <div *ngIf="sectionState.signals" class="links">
        <a routerLink="/singlals-practice">Signals Practice</a>
      </div>
    </div>
</nav>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

</div>

