<div class="login-page d-flex justify-content-center align-items-center">

  <div class="login-card p-4 shadow rounded">

    <div class="card">
      <div class="card-header">
        <h2 class="text-center mb-4">Login</h2>
      </div>
      <div class="card-body">

        <form #loginForm="ngForm" novalidate (ngSubmit)="login()">
          <div class="form-group mb-3">
            <input #userName="ngModel" type="text" [(ngModel)]="name" name="username" class="form-control" required
              placeholder="Username" />
          </div>
          <div *ngIf="userName?.invalid && userName?.touched" class="text-danger">
            <div *ngIf="userName.errors?.['required']">
              Username is required.
            </div>
          </div>

          <div class="form-group mb-3">
            <input #passwordField="ngModel" type="password" [(ngModel)]="password" name="password" class="form-control"
              placeholder="Password" required minlength="4" />
          </div>
          <div *ngIf="passwordField.invalid && passwordField.touched" class="text-danger">
            <div *ngIf="passwordField.errors?.['required']">
              password is required.
            </div>
            <div *ngIf="passwordField.errors?.['minlength']">
              Minimum 4 characters required.
            </div>
          </div>
          <div class="text-end">
            <button class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
          </div>
          <hr>
          <div class="px-4 p-2" style="background-color: aliceblue; border-radius: 10px; color: rgb(4, 92, 18);">
            <div><label style="color: rgb(4, 92, 18);"><b>Visitor Credentials ---------</b> </label></div>
            <div>
              <label >
                Username-: <i > guest</i><br>Password-: <i >guest</i>
              </label>
            </div>
          </div>


        </form>
      </div>
    </div>

  </div>
</div>